body {
    /* color 指定方法
        1) 有名色の直接指定: red, black, mazenta, etc...
        2) rgb()による3値の指定: rgb(255, 0, 0)
        3) 16進数による指定:
            i) 6桁(6byte)表現: #ff0000, #333333
            ii) 3桁(3byte)表現 */
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    background-color: #ffcccc;
    text-align: right;
    padding: 8px;
}

ul {
    margin: 0;
    list-style-type: none; /* 中黒に当たる部分を消す */
    padding-left: 0
}

li {
    padding: 4px 8px;
    display: inline-block;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #3333ff;
}
